/* .container-fluid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start
} */

div.cartItemSection{
    padding: 50px;
}

div.cartItems>h2{
    float: left;
}

#productPhoto{
    height: auto;
    width: 300px;
    object-fit: cover
}

div.cartItems>p{
    float: right;
}

h4.cartTitle{
    font-size: 1.25rem;
}

p.categorycart{
    color: grey;
    font-size: 0.75rem;
}

p.cartQuantity{
    font-size: 0.9rem;
}

p.sellerInfo{
    font-size: 0.9rem;
    margin-top: -15px;
}

a.removeLink{
    font-size: 0.9rem;
}

div.cartSummary{
    padding: 40px;
    background-color: white;
    border-radius: 25px;
    -webkit-box-shadow: -1px 4px 17px -2px rgba(189,187,189,1);
    -moz-box-shadow: -1px 4px 17px -2px rgba(189,187,189,1);
    box-shadow: -1px 4px 17px -2px rgba(189,187,189,1);
}

@media only screen and (max-width: 1214px) {
   #productPhoto{
       width: 280px !important;
   }
}

@media only screen and (max-width: 1183px) {
    #productPhoto{
        width: 250px !important;
    }
}


@media only screen and (max-width: 1136px) {
    #productPhoto{
        width: 260px !important;
    }
}

@media only screen and (max-width: 1062px) {
    #productPhoto{
        width: 240px !important;
    }

    .braintree-heading{
        font-size: 13px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 150px;
    }
}


@media only screen and (max-width: 987px) {
    #productPhoto{
        width: 230px !important;
    }

    .braintree-heading{
        font-size: 11px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 150px;
    }
}

@media only screen and (max-width: 956px) {
    #productPhoto{
        width: 180px !important;
    }

    p.mt-3.grey-text{
        display: none;
     }

     #payButton{
        padding: 5px;
    }

    h5{
        font-size: 1rem;
    }
   h4.cartTitle{
        font-size: 1rem;
    }

    .braintree-heading{
        font-size: 11px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 150px;
    }
}

@media only screen and (max-width: 916px) {
    #productPhoto{
        width: 180px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 130px;
    }

    #payButton{
        padding: 5px;
    }
}

@media only screen and (max-width: 879px) {
    #productPhoto{
        width: 180px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 130px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 854px) {
    div.cartSummary{
        padding: 20px;
    }
    #productPhoto{
        width: 190px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 130px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 813px) {
    div.cartSummary{
        padding: 20px;
    }

    p.mt-3.grey-text{
        margin-top: -30px !important;
    }
    #productPhoto{
        width: 180px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 130px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 774px) {
    div.cartSummary{
        padding: 20px;
    }

    p.mt-3.grey-text{
       display: none;
    }
    #productPhoto{
        width: 170px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 130px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 1rem;
    }
   h4.cartTitle{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 763px) {
    div.cartSummary{
        padding: 15px;
        width: 210px;
    }

    p.mt-3.grey-text{
       display: none;
    }
    #productPhoto{
        width: 170px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 130px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 1rem;
    }
   h4.cartTitle{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 689px) {
    div.cartSummary{
        padding: 15px;
        width: 200px;
    }

    p.mt-3.grey-text{
       display: none;
    }
    #productPhoto{
        width: 170px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 130px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 1rem;
    }
   h4.cartTitle{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 663px) {
    div.cartSummary{
        padding: 15px;
        width: 200px;
        margin-left: -20px;
    }

    p.mt-3.grey-text{
       display: none;
    }
    #productPhoto{
        width: 170px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 130px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 1rem;
    }
   h4.cartTitle{
        font-size: 1rem;
    }

    .addon{
        display: none;
    }
}

@media only screen and (max-width: 620px) {
    div.cartSummary{
        padding: 15px;
        width: 200px;
        margin-left: -40px;
    }

    p.mt-3.grey-text{
       display: none;
    }
    #productPhoto{
        width: 170px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 130px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 1rem;
    }
   h4.cartTitle{
        font-size: 1rem;
    }

    .addon{
        display: none;
    }

    div.cartItems>h2{
        font-size: 1.5rem !important;
    }
}

@media only screen and (max-width: 548px) {
    div.cartSummary{
        padding: 15px;
        width: 200px;
        margin-left: -60px;
    }

    p.mt-3.grey-text{
       display: none;
    }
    #productPhoto{
        width: 170px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 130px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 1rem;
    }
   h4.cartTitle{
        font-size: 1rem;
    }

    .addon{
        display: none;
    }

    div.cartItems>h2{
        font-size: 1.25rem !important;
    }
}

@media only screen and (max-width: 500px) {
    div.cartSummary{
        padding: 15px;
        width: 200px;
        margin-left: -60px;
    }

    p.mt-3.grey-text{
       display: none;
    }
    #productPhoto{
        width: 170px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 130px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 1rem;
    }
   h4.cartTitle{
        font-size: 1rem;
    }

    .addon{
        display: none;
    }

    div.cartItems>h2{
        font-size: 1.15rem !important;
    }

    div.cartItemSection{
        padding: 20px;
    }
}

@media only screen and (max-width: 414px) {
    div.cartSummary{
        padding: 15px;
        width: 150px;
        margin-left: -45px;
    }

    p.mt-3.grey-text{
       display: none;
    }
    #productPhoto{
        width: 120px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 50px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 0.5rem;
    }
   h4.cartTitle{
        font-size: 1rem;
    }

    .addon{
        display: none;
    }

    div.cartItems>h2{
        font-size: 1.15rem !important;
    }

    div.cartItemSection{
       width: 100%;

    }
    .braintree-option .braintree-option__label {
        display: none;
    }
}
  
  

@media only screen and (max-width: 375px) {
    div.cartSummary{
        padding: 15px;
        width: 150px;
        margin-left: -45px;
    }

    p.mt-3.grey-text{
       display: none;
    }
    #productPhoto{
        width: 120px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 50px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 0.5rem;
    }
   h4.cartTitle{
        font-size: 1rem;
    }

    .addon{
        display: none;
    }

    div.cartItems>h2{
        font-size: 1.15rem !important;
    }

    div.cartItemSection{
       width: 100%;

    }
    .braintree-option .braintree-option__label {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    div.cartSummary{
        padding: 15px;
        width: 120px;
        margin-left: -30px;
    }

    p.mt-3.grey-text{
       display: none;
    }
    #productPhoto{
        width: 120px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 50px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 0.5rem;
    }
   h4.cartTitle{
        font-size: 1rem;
    }

    .addon{
        display: none;
    }

    div.cartItems>h2{
        font-size: 0.75rem !important;
    }

    div.cartItemSection{
       width: 100%;

    }
    .braintree-option .braintree-option__label {
        display: none;
    }
}

@media only screen and (max-width: 280px) {
    div.cartSummary{
        padding: 15px;
        width: 100px;
        margin-left: -30px;
    }

    p.mt-3.grey-text{
       display: none;
    }
    #productPhoto{
        width: 110px !important;
    }

    .braintree-heading{
        font-size: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .braintree-dropin{
        min-width: 50px;
    }

    #payButton{
        padding: 5px;
    }

    h5{
        font-size: 0.5rem;
    }
   h4.cartTitle{
        font-size: 1rem;
    }

    .addon{
        display: none;
    }

    div.cartItems>h2{
        font-size: 0.75rem !important;
    }

    div.cartItemSection{
       width: 100%;

    }
    .braintree-option .braintree-option__label {
        display: none;
    }
}
  
  
  
  
  
  
 