div.editform{
    padding: 30px;
    background-color: white;
    border-radius: 25px;
    -webkit-box-shadow: -1px 4px 17px -2px rgba(189,187,189,1);
    -moz-box-shadow: -1px 4px 17px -2px rgba(189,187,189,1);
    box-shadow: -1px 4px 17px -2px rgba(189,187,189,1);
}

input.form-control{
    outline-width: 0;
    border: none;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px 10px;
    margin-top: 2px;
    margin-bottom: -5px;
    border-radius: 999px;
    background-color: #eff2f5
}

textarea.form-control{
    outline-width: 0;
    border: none;
    padding: 20px;
    margin: 0px 10px;
    margin-top: 2px;
    margin-bottom: -5px;
    border-radius: 999px;
    background-color: #eff2f5
}

input#fileInput.form-control{
    justify-content: center;
    outline-width: 0;
    border: none;
    padding-top: 15px;
    padding-bottom: 45px;
    border-radius: 999px;
    background-color:#eff2f5;
}

h3.edit{
    color: gray;
    font-weight: bolder;
    margin-top: -10px;
    margin-left: -240px;
}

@media only screen and (max-width: 1146px) {
    h3.edit{
        margin-left: -3px;
    }
    
  }

@media only screen and (max-width: 980px) {
    h3.edit{
        margin-top: 15px;
        margin-left: 180px;
    }
    
  }

  @media only screen and (max-width: 640px) {
   h3.edit{
        margin-left: 290px;
   }
    
  }

  @media only screen and (max-width: 500px) {
   h3.edit{
    margin-top: 40px;
    font-size: 1.25rem;
    margin-left: 300px;
   }
    
  }