.sidebar{
    /* -webkit-box-shadow: 4px 1px 21px 0px rgba(199,193,199,1);
    -moz-box-shadow: 4px 1px 21px 0px rgba(199,193,199,1);
    box-shadow: 4px 1px 21px 0px rgba(199,193,199,1); */
    height: calc(100vh - 60px);
    position: fixed;
    left: 0;
    font-family: 'Questrial', sans-serif;
    overflow-x: scroll;
    padding: 20px;
}

.profile>img{
    align-items: center;
}

.user{
    font-family: 'Questrial', sans-serif;
}

h5{
    color: black; 
}

.sidebar>h3>.MuiSvgIcon-root{
    font-size: xx-large;
    color: #0d47a1; 
}


@media only screen and (max-width: 1080px) {
    .sidebar {
      position: sticky;
    }
    h4{
        font-size: 1.2rem;
    }
  }



@media only screen and (max-width: 980px) {
    .sidebar {
      display: none
    }
  }
