.widgets{
    height: calc(100vh - 20px);
    position: fixed;
    right: 0;
    font-family: 'Questrial', sans-serif;
    overflow-x: scroll;
    padding: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 1110px) {
    
    .widgets{
        position: sticky;
    }
    
  }